input
{
    width: 100%;
}

#monalisa
{
    /*width: 269px;
    height: 400px;*/
    width: 1280px;
    height: 720px;
    margin: 100px auto;
    background: url("../img/congrats.jpg") no-repeat;
    box-shadow: 10px 10px 25px rgba(0,0,0, 0.8);
}

#monalisa.vibrating
{
    background: url("../img/congrats_vib.jpg") no-repeat;
    animation: vibrate 0.1s infinite;
}

@keyframes vibrate
{
    10%, 90% { transform: translate3d(-5px, 5px, 0); }
    20%, 80% { transform: translate3d(10px, -10px, 0); }
    30%, 50%, 70% { transform: translate3d(-20px, 20px, 0); }
    40%, 60% { transform: translate3d(20px, -20px, 0); }
}
